@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Playfair+Display&family=Satisfy&display=swap');

/* Homepage (Page 01 Styling sheet starts here) */
body {
    background-color: rgb(243, 240, 235);
    color: black;
    margin: 0;
}
h1 {
    font-family: 'Satisfy', cursive;
    color: white;
}
h2, h3, a {
    font-family: 'Aboreto', cursive;
    font-size: 22pt;
}
h2 {
    color: #1E2D3F;
    font-weight: bold;
}
p, ol, ul {
    font-family: 'Playfair Display', serif;
    font-size: 18pt;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
main {
    margin: 0 45px;
}
header {
    overflow: hidden;
    background-color: #624E4A;
    display: grid;
    grid-template-columns: 80px auto;
    position: fixed;
    width: 100%;
    max-width: 1600px;

}
header img{
    width: 60%;
    filter: opacity(40%);
    padding: 7% 0 0 30%;
}
header img:hover {
    filter: opacity(100%);
}
#logo {
    grid-column: 1/2;
    justify-self: center;
}
#navbar {
    grid-column: 2/3;
}
#hero-img {
    width: 100%;
    max-width: 1600px;
}
#hero {
    display: grid;
    grid-template-columns: 320px auto 320px;
}
#hero-box {
   grid-column: 1/4;
   grid-row: 1/3;
   z-index: -1; 
}
#hero-msg {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 100px;
}
.hero-title {
    text-align: center;
    text-shadow: 4px 4px #16212e;
    font-size: 5em;
    margin: 30px 50px 0 0;
}
#intro-grid {
    display: grid;
    grid-template-rows: 150px 2fr 2fr;
    grid-template-columns: 1fr 2fr 1fr;
}
#choose_topic-grid {
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 1fr 0.3fr;
    justify-items: center;
    text-align: center;
}
footer {
    background-color: #624E4A;
    color: #ffffff;
    font-size: 1.2em;
    padding: 25px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav {
    display: flex;
    justify-content: space-around;
    max-width: 1600px;
}
header nav a {
    text-align: center;
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 1.5% 1% 0 1%;
}
header nav a:hover {
    background-color: #8C94A0;
    color: white;
    text-shadow: none;
    transition-duration: 0.5s;
}
#about_me-box {
    display: flex;
    flex-direction: column;
}
.about_me-img {
    width: 250px;
    float: left;
}
footer a {
    color: #ffffff;
    text-decoration: none;
}
.footer-icons {
    margin: 10px;
    padding: 0;
}
.topic_title-link:link {
    text-decoration: none;
}
.topic_title-link:hover {
    text-decoration: underline;
    text-decoration-color: #1E2D3F;
}
.site-plan:hover {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #ffffff;
}
#intro-list {
    text-align: justify;
    margin: auto;
    grid-row: 2/3;
    grid-column: 2/3;
}
.intro-paragrafo {
    text-align: justify;
    margin: 20px;
    grid-row: 1/2;
    grid-column: 1/4;
}
#homepage_colored_note {
    grid-row: 3/4;
    grid-column: 1/4;
    border-radius: 30px;
    color: white;
    background-color: #1E2D3F;
    padding: 20px 50px;
    margin: 0 30px 30px 30px;
    text-align: justify;
    align-self: center;
}
li {
    margin-bottom: 20px;
}
section div{
    margin-top: 35px;
}
.passport {
    border-radius: 50%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.family-tree {
    border-radius: 50%;
    grid-column: 3/4;
    grid-row: 1/2;
}
.topic-title1 {
    padding-left: 15px;
    padding-right: 15px;
    grid-column: 1/2;
    grid-row: 2/3;
}
.keep-reading1 {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 14pt;
    font-weight: bold;
}
.topic-title2 {
    grid-column: 3/4;
    grid-row: 2/3;
}
.keep-reading2 {
    grid-column: 3/4;
    grid-row: 4/5;
    font-size: 14pt;
    font-weight: bold;
}
.topic-msg1 {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
}
.topic-msg2 {
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
}
.about_me-title {
    color: #1E2D3F;
    text-align: center;
    font-weight: bolder;
}
.about_me-msg {
    text-align: right;
    margin: 0;
    font-weight: bold;
}
.about_me-img {
    width: auto;
    margin-top: 60px;
}

/* Page 2 styling starts here ("Genealogia" Page) */
#childpage-hero-img {
    width: 100%;
    opacity: 70%;
}
#childpage-hero-grid {
    display: grid;
    grid-template-columns: 320px auto 320px;
    grid-template-rows: 80px auto;
}
#childpage-hero-box {
    grid-column: 1/6;
    grid-row: 1/3;
    z-index: -1; 
}
#childpage-hero-msg {
    grid-column: 1/6;
    grid-row: 2/3;
    text-align: center;
    font-size: 1.5em;
}
.spacing {
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}
.spacing2 {
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}
#contact-img {
    width: 100%;
}
.childpage_colored_note {
    border-radius: 120px;
    color: white;
    background-color: #1E2D3F;
    padding: 5% 2%;
    margin: 5% 5% 2% 5%;
    text-align: center;
    align-self: center;
}
#page2-grid {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(6, auto);
    column-gap: 1%;
}
.number {
    width: 50px;
    height: auto;
    border-radius: 15px;
    color: white;
    background-color: #1E2D3F;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
}
.number-box {
    width: auto;
    background-color: white;
    border: solid 5px #1E2D3F;
    border-radius: 15px;
    padding: 40px 40px;
}
.genealogia-h3 {
    color:#1E2D3F;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bolder;
}
.genealogia-p {
    margin-top: 3%;
    margin-bottom: 0;
}
.n1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.msg1 {
    grid-column: 2/4;
    grid-row: 1/2;
}
.n2 {
    grid-column: 3/4;
    grid-row: 2/3;
}
.msg2 {
    grid-column: 1/3;
    grid-row: 2/3;
}
.n3 {
    grid-column: 1/2;
    grid-row: 3/4;
}
.msg3 {
    grid-column: 2/4;
    grid-row: 3/4;
}
.n4 {
    grid-column: 3/4;
    grid-row: 4/5;
}
.msg4 {
    grid-column: 1/3;
    grid-row: 4/5;
}
.n5 {
    grid-column: 1/2;
    grid-row: 5/6;
}
.msg5 {
    grid-column: 2/4;
    grid-row: 5/6;
}
.n6 {
    grid-column: 3/4;
    grid-row: 6/7;
}
.msg6 {
    grid-column: 1/3;
    grid-row: 6/7;
}
#leque-img {
    word-wrap: normal;
}
#FSinfo-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    margin-top: 5%;
}
#FSinfo-grid h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0 8% 0 0;
    align-self: center;
}
.p1 {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: justify;
    padding: 0 8% 0 0;
    margin-bottom: 0;
    margin-top: 0;
}
.p2 {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: justify;
    margin-top: 0;
    padding: 0 8% 0 0;
}
#FSinfo-grid img {
    grid-column: 2/3;
    grid-row: 1/4;
    border-radius: 2%;
    box-shadow: 10px 10px 10px  #4F3D4B;
}
.yt-box {
    display: flex;
    justify-content: center;
}
.yt-video {
    width: 854px;
    height: 480px;
    border: solid 0.5em #16212e;
}
#contact-grid {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr) 2fr;
    grid-template-rows: repeat(4, auto) 1fr;
    margin-top: 0;
    margin-bottom: -45px;
}
#contact-img {
    grid-column: 1/6;
    grid-row: 1/5;
    z-index: -1;
}
.contact-img {
    width: 100%;
    filter: opacity(50%);
}
#contact-msg {
    grid-column: 1/6;
    grid-row: 2/3;
    text-align: center;
}
.contact-msg {
    font-weight: bolder;
    color: #1E2D3F;
}
#contact-button {
    grid-column: 1/6;
    grid-row: 3/4;
    justify-self: center;
    align-items: start;
}
.button {
    padding: 5% 10%;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #1E2D3F;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #8C94A0;
    font-family: 'Playfair Display', serif;
}
.button:hover {
    background-color:#4F3D4B;
}
.button:active {
background-color: #8C94A0;
box-shadow: 0 5px #4F3D4B;
transform: translateY(4px);
}
.links {
    font-family: 'Playfair Display', serif;
    font-size: 18pt;
    color: black;
    text-decoration: underline;
}
.links:hover {
    color: #1E2D3F;
    font-weight: bold;
    text-decoration: underline;
}


/* Page 03 Styling starts here ("Cidadania Italiana" page) */
.justify {
    text-align: justify;
}
.center {
    display: grid;
    justify-items: center;
    align-self: center;
    padding: 0 2%;
    margin: 0 5% 0 5%;
}
.childpage_colored_note2 {
    border-radius: 50px;
    color: white;
    background-color: #1E2D3F;
    padding: 5%;
    margin: 5%;
    text-align: center;
    align-self: center;
    line-height: 1.6;
}
.childpage_colored_note2 h2 {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
#thiago-box {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 2%;
    margin: 0 5% 0 5%;
}
#thiago-img {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    box-shadow: 10px 10px 10px  #4F3D4B;
} 
#thiago-p {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: justify;
    align-self: center;
} 
.flag-opacity {
    filter:saturate(50%);
}
.bold-text {
    font-family: 'Playfair Display', serif;
    font-size: 24pt;
    border-bottom: 1px solid black;
    color: #4F3D4B;
}
#example-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    padding: 2% 2%;
    margin: 0 5% 0 5%;
}
.example-img {
    grid-column: 1/2;
    grid-row: 1/3;
    margin: 5%;
    justify-content: center;
}
.example-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 0 0 10%;
    align-self: center;
    text-align: justify;
}
.example-msg2 {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 0 0 10%;
    align-self: center;
    text-align: justify;
}
.margin1 {
    margin-top: 0;
    margin-bottom: 5%;
}
.steps-title-grid {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 125px auto;
    grid-template-rows: 62.5 62.5;
}
.steps-title-grid1 {
    margin-top: 0%;
    display: grid;
    grid-template-columns: 125px auto;
    grid-template-rows: 62.5 62.5;
}
.steps-icon {
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 50%;
}
.steps-num {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 0;
    margin-left: 1%;
    text-decoration: underline;
    font-weight: bold;
}
.steps-title {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 0;
    margin-left: 1%;
    color: #4F3D4B;
    font-weight: bolder;
    text-shadow: 2px 1px #16212e;
}
.steps-msg {
    text-align: justify;
}
.colored-links {
    font-family: 'Playfair Display', serif;
    font-size: 18pt;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.colored-links:hover {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}
.bottom-1 {
    margin-bottom: 2%;
}
.bottom-2 {
    margin-bottom: 5%;
    margin-left: 10%; 
    margin-right: 10%; 
}
.p-cidadania {
    text-align: center;
    font-weight: bold;
}
#list-style {
    list-style: none;
    line-height: 1;
}
.li-cidadania {
    padding-left: 1em;
    text-indent: -1em;
}
  
.li-cidadania:before {
    content: "✔";
    padding-right: 5px;
} 
.small {
    margin-top: 10%;
    font-family: 'Playfair Display', serif;
}
small a{
    font-family: 'Playfair Display', serif;
    font-size: small;
    color: black;
}
small a:hover {
    font-size: medium;
}

/* Page 04 Styling starts here ("Consulados Italianos" page) */
#consulados-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    align-items: flex-start;

}
.consulado-box {
    flex-basis: calc(20% - 20px);
    margin-bottom: 20px;
    background-color: #d4d4d4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.h2-consulado {
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    margin: 0 0 15px 0;
    font-size: 1.2rem;
    font-weight: bold;
}
.p-consulado {
    color:#695d66;
    margin: 0;
    font-size: 1rem;
}
.link {
    color: #4F3D4B;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}

/* Page 05 Styling starts here ("Contact" page) */
#contact-form {
    width: 640px;
    height: 980px;
    border: 0;
    margin: 5% auto 5% auto;
    display: flex;
    justify-content: center;
}
